<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>充值抵扣</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		
	</style>
	<script src="/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/dialog.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<!--
        	作者：offline
        	时间：2019-11-12
        	描述：充值抵扣
        -->
		<div class="col-md-10" style="width: 100%;">
			<div class="row">
				<div id="tab_yggl" class="tal_none2">
					<div class="row" style="line-height:52px;margin-bottom:10px;margin-left: 5px;margin-right:15px;border-bottom: 1px solid #e7e7eb;">
						<div style="padding-left: 0;float: left;">冲抵抵扣</div>
						<div style="float: right;width: 80%;text-align: right;">
							<form action="" method="post">
								<input type="date" class="form-control" id="inputEmail3" style="width: 18.55%; display: inline-block;"name="shi">					
								至
								<input type="date" class="form-control" id="inputEmail3" style="width: 18.55%; display: inline-block;"name="zhong">
								
								
								<input type="text" class="form-control" id="inputEmail3" placeholder="查找" style="width: 24.50%; display: inline-block;"name="xname">
								<a class="glyphicon glyphicon-search" style="margin-left: -28px;cursor: pointer;"onclick="chazhao()"></a>
								<button type="button" class="btn btn-success" style="margin-left: 10px; margin-top: -4px;" data-toggle="modal" data-target="#myModal"> 充值 </button>
							</form>
						</div>
					</div>
					<div class="row" style="margin-right: 15px;margin-left:5px;">
						<table class="table table-bordered table-hover table-striped">
							<thead align="center">
								<tr class="info">
									<td width="4%">序号</td>
									<td width="8%">时间</td>
									<td width="5%">充值方式</td>
									<td width="8%">冲抵会员</td>
									<td width="8%">使用积分</td>
									<td width="8%">抵扣金额</td>
									<td width="15%">备注</td>
								</tr>
							</thead>
							<tbody align="center"class="tbody">
								<tr>
									<td colspan="7">对不起没有找到响应信息。</td>
									
								</tr>
							</tbody>
							
						</table>
						
					</div>
				</div>
			</div>
		</div>
		
		<!--modal-->
		<!-- 会员充值 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog"style="width:800px">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel"style="font-size:130%">会员充值</h4>
		            </div>
		            <div class="modal-body" style="text-align: center;">
		            	<div class="row"style="margin:20px 0px;">
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            		<div class="col-md-6"style="border:0px solid red">充值会员
		            		
		        
		            			<select name="huiyuan" style="margin-left:4px ;height:36px;width:220px;">
		            				<option value="">张三</option>
		            			</select>	
		            		</div>
		            		
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            	</div>
		            	<div class="row"style="margin:20px 0px;">
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            		<div class="col-md-6"style="border:0px solid red" id="df">
		            		
		        				<span style="margin-left:35px ;height:36px;width:220px;display:inline-block;">可用积分<span style="color:red"class="jf">0</span>分，抵扣<span style="color:red"class="dk">0</span>元</span>
		            		
		            		</div>
		            		
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            	</div>
		            	<div class="row"style="margin:20px 0px;">
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            		<div class="col-md-6"style="border:0px solid red">充值金额<input type="text"name="czje"style="margin-left:8px;height:36px;width:220px;"></div>
		            		
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            	</div>
		            	
		            	<div class="row"style="margin:20px 0px;">
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            		<div class="col-md-6"style="border:0px solid red">
		            			充值方式
		            			<select name="czfs" style="margin-left:4px ;height:36px;width:220px;">
		            				<option value="微信">微信</option>
		            				<option value="支付宝">支付宝</option>
		            				<option value="银联">银联</option>
		            			</select>	
		            		</div>
		            		
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            	</div>
		            	<div class="row"style="margin:20px 0px;">
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            		<div class="col-md-6"style="border:0px solid red;padding-left:40px;">
		            			备注
		            			<textarea cols="28"rows="4"name="bz"style="margin-left:4px ;overflow-x:hidden;overflow-y:hidden">
		            				
		            			</textarea>
		            		</div>
		            		
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            	</div>
		            	<div class="row"style="margin:20px 0px;">
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            		<div class="col-md-6"style="border:0px solid red;padding-left:40px;"id="tupian">
		            			
		            		</div>
		            		
		            		<div class="col-md-3"style="border:0px solid red"></div>
		            	</div>
		            </div>
		            <div class="modal-footer"style="text-align: center;">
		                <button type="button" class="btn btn-default" data-dismiss="modal"style="width:90px">取消</button>
		                &nbsp;&nbsp;
		                <button type="button" class="btn btn-primary"style="width:90px"onclick="xiu()">确定</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<script type="text/javascript">
		var yong=0.00;
		var jf=0;
			$(function(){
				selectJf();
				selectAll();
				selectAllMember();
				if(jf==-1){$("#df").html("");}
				$("select[name='huiyuan']").change(function () {
					if(jf==-1){
						
					}else{
						chajf();
					}
					
	        	 });
				$("[name=czje]").change(function(){
					$("#tupian").html("");
					if(jf==-1){
						var je=$("[name=czje]").val();
						$("#tupian").append("<img src='/images/QQ.jpg' width='150px'height='150px'>");
						$("#tupian").append("<div style='color:red'>需支付："+je+"元</div>");
						
						
					}else{
						var je=$("[name=czje]").val();
						$("#tupian").append("<img src='/images/QQ.jpg' width='150px'height='150px'>");
						$("#tupian").append("<div style='color:red'>需支付："+(je-yong)+"元</div>");
					}
					
				})
			})
			function selectAll(){
				$.ajax({
					url:"[[@{/member/selectRechargededuction}]]",
					data:{},
					dataType:"json",
					type:"get",
					success:function(result){
						console.info(result); 
						$(".tbody").html("");
						$.each(result,function(i,obj){
							var tr=$("<tr></tr>");
							tr.append("<td>"+(i+1)+"</td>");
							tr.append("<td>"+obj.time+"</td>");
							tr.append("<td>"+obj.colunm1+"</td>");
							tr.append("<td>"+obj.m.mname+"</td>");
							tr.append("<td>"+obj.point+"</td>");
							tr.append("<td>"+obj.colunm2+"</td>");
							tr.append("<td>"+obj.remark+"</td>");
							$(".tbody").append(tr);
							
						})
						
					}
				})
			}
			function selectAllMember(){
				$.ajax({
					url:"[[@{/member/SelectMemberInfo}]]",
					data:{},
					dataType:"json",
					type:"get",
					success:function(result){
						$("[name=huiyuan]").html("");
						$.each(result,function(i,obj){
							var option=$("<option value="+obj.mid+">"+obj.mname+"</option>");
							$("[name=huiyuan]").append(option);
							
						})
						if(jf==-1){
							
						}else{
							chajf();
						}
						
					}
				})
			}
			function xiu(){
			
			var m={
					reid:1,
					mid:$("[name=huiyuan]").val(),
					remoney:$("[name=czje]").val(),
					reway:$("[name=czfs]").val(),
					rejf:0,
					rebalance:0,
					remark:$("[name=bz]").val(),
					createtime:new Date()
			 }
			 $.ajax({
					url:"[[@{/member/updateMoney}]]",
					data:JSON.stringify(m),
					dataType:"json",
					type:"post",
					contentType : 'application/json;charset=UTF-8',
					success:function(result){
						if(result>0){
							//alert("充值成功！");
							selectAll();
						}else{
							alert("充值失败！");
						}
					}
			})
			if(jf==-1||yong==0){
				
			}else{
				var r={
						rid:1,
						time:new Date(),
						mid:$("[name=huiyuan]").val(),
						point:$(".jf").text(),
						remark:$("[name=bz]").val(),
						colunm1:$("[name=czfs]").val(),
						colunm2:$(".dk").text()
					}
					$.ajax({
						url:"[[@{/member/insertRechargededuction}]]",
						data:JSON.stringify(r),
						dataType:"json",
						type:"post",
						contentType : 'application/json;charset=UTF-8',
						success:function(result){
							/* if(result>0){
								alert("冲抵成功！");
								updateJf();
							}else{
								alert("冲抵失败！");
							} */
						}
					})
			}
			
			
		} 
		function updateJf(){
			$.ajax({
				url:"[[@{/member/updateMemberJf}]]",
				data:{"id":$("[name=huiyuan]").val()},
				dataType:"json",
				type:"get",
				success:function(result){
					/* if(result>0){
						alert("清空积分成功！");
					}else{
						alert("清空积分失败！");
					} */
				}
			})
		}
		/* function insertRecharge(){
			var m={
					reid:1,
					mid:$("[name=huiyuan]").val(),
					remoney:$("[name=czje]").val(),
					reway:$("[name=czfs]").val(),
					rejf:0,
					rebalance:0,
					remark:$("[name=bz]").val(),
					createtime:new Date()
			 }
			 $.ajax({
					url:"[[@{/member/insertRecharge}]]",
					data:JSON.stringify(m),
					dataType:"json",
					type:"post",
					contentType : 'application/json;charset=UTF-8',
					success:function(result){
						alert(result);
					}
			})
			
		}  */
		function chajf(){
			var id=$("[name=huiyuan]").val();
			 $.ajax({
					url:"[[@{/member/selectMemberById}]]",
					data:{"id":id},
					dataType:"json",
					type:"get",
					success:function(result){
						if(result.mintegral==0){
							$(".jf").text("0");
							
							$(".dk").text("0");
						}else{
							$(".jf").text(result.mintegral);
							
							yong=((result.mintegral)/jf).toFixed(0);
							$(".dk").text(yong);
						}
						
					}
			})
		}
		function chazhao(){
			var xname=$("[name=xname]").val();
			var shi=$("[name=shi]").val();
			var zhong=$("[name=zhong]").val();
			var sql="";
			if(shi!=null&&zhong&&zhong!=null){
				sql+=" time between \'"+shi+"\' and \'"+zhong+"\'";
			}
			 $.ajax({
					url:"[[@{/member/selectRechargedeductionBytime}]]",
					data:{"a":sql},
					dataType:"json",
					type:"get",
					success:function(result){
						console.info(result);
						$(".tbody").html("");
						$.each(result,function(i,obj){
							var tr=$("<tr></tr>");
							tr.append("<td>"+(i+1)+"</td>");
							tr.append("<td>"+obj.time+"</td>");
							tr.append("<td>"+obj.colunm1+"</td>");
							tr.append("<td>"+obj.m.mname+"</td>");
							tr.append("<td>"+obj.point+"</td>");
							tr.append("<td>"+obj.colunm2+"</td>");
							tr.append("<td>"+obj.remark+"</td>");
							$(".tbody").append(tr);
							
						})
					}
			})
		}
		function selectJf(){
			 $.ajax({
					url:"[[@{/member/selectJf}]]",
					data:{},
					dataType:"json",
					type:"get",
					async: false,
					success:function(result){
						if(result.key=="关闭"){
							jf=-1;
						}else{
							jf=result.key;
						}
					}
			})
		}
		</script>
	</body>
</html>
