<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>成交记录</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		
	</style>
	<script src="/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/dialog.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<!--
        	作者：offline
        	时间：2019-11-12
        	描述：成交记录
        -->
		<div class="col-md-10" style="width: 100%;">
			<div class="row">
				<div id="tab_yggl" class="tal_none2">
					<div class="row" style="line-height:52px;margin-bottom:10px;margin-left: 5px;margin-right:15px;border-bottom: 1px solid #e7e7eb;">
						<div style="padding-left: 0;float: left;">成交记录</div>
						<div style="float: right;width: 80%;text-align: right;">
							<form action="" method="post">
								
								<input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."name="dindan">
								<span style="margin:0px 1px;"></span>
								按订单
								<span style="margin:0px 10px;"></span>
								<input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."name="huiyuan">
								<span style="margin:0px 1px;"></span>
								按会员
								<span style="margin:0px 10px;"></span>
								
								<input type="date" class="form-control" id="inputEmail3" style="width: 18.55%; display: inline-block;"name="shi">					
								至
								<input type="date" class="form-control" id="inputEmail3" style="width: 18.55%; display: inline-block;"name="zhong">
								
								
								<input type="text" class="form-control" id="inputEmail3" placeholder="查找" style="width: 24.50%; display: inline-block;"name="txt">
								<a class="glyphicon glyphicon-search" style="position:absolute;right: 25px;top: 20px;cursor: pointer;"onclick="ById()"></a>
								
							</form>
						</div>
					</div>
					<div class="row" style="margin-right: 15px;margin-left:5px;">
						<table class="table table-bordered table-hover table-striped">
							<thead align="center">
								<tr class="info">
									<td width="4%">序号</td>
									<td width="5%">订单号</td>
									<td width="6%">姓名</td>
									<td width="8%">手机</td>
									
									<td width="6%">金额</td>
									<td width="6%">支付方式</td>
									<td width="10%">日期</td>
									
								</tr>
							</thead>
							<tbody align="center" class="tbody">
								<tr>
									<td>1</td>
									<td>1121312312312312</td>
									<td>憨憨</td>
									<td>110</td>
									
									<td>100.00</td>
									<td>支付宝</td>
									<td>2001-01-01 12:00:00</td>
									
								</tr>
							</tbody>
							
						</table>
						<table class="table  table-hover table-striped"style="margin-top:-20px;">
							<tfoot align="center">
								<tr>
									<td colspan="2"></td>
									<td colspan="2"></td>
									<td></td>
									
								
									<td style="text-align: right;"colspan="3">
										<span class="shou">1</span>/<span style="margin-right:10px;"class="wei">5</span>
										<input type="text"name="ye"style="border:1px solid #ddd;background:white;padding:5px 20px;border-radius: 3px;margin:0px 10px;width:150px;"value="1">
										<input type="button"name="tiao"value="跳转"style="border:1px solid #ddd;background:white;padding:5px 20px;border-radius: 3px;">
									</td>
									
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- 订单详情 -->
		<!-- 模态框（Modal）查询 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div style="width: 76.66%;" class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">订单详情</h4>
		            </div>
		            <div class="modal-body" style="padding:50px;overflow: hidden;">
		            	<div style="float: left;">
		            		<p>会员：<span id="huiyuan8"></span></p>
		    
		            	</div>
		            	<div style="float: right;">
		            		<p>店铺：<span id="dianpu8"></span></p>
		            		
		            	</div>
		            	<table class="table table-bordered table-hover">
						  	<thead>
						  		<tr class="info">
									<td width="4%">序号</td>
									<td width="8%">品名</td>
									<td width="6%">数量</td>
									<td width="6%">原价</td>
									<td width="6%">折扣</td>
									<td width="6%">金额</td>
								</tr>
						  	</thead>
						  	<tbody id="tbody2" align="center">
								
							</tbody>
						</table>
						
		            </div>
		            <div class="modal-footer" style="text-align: center;">
		                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 16.66%;">取消</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<script type="text/javascript">
		var pageNum=1;
		$(function(){
			cjjl();
			$("[name=tiao]").click(function(){
				tiao();
			})
		})
		function cjjl(){
			var sf=1;
			 $.ajax({
					url:"[[@{/member/selectRecord}]]",
					data:{"pageNum":pageNum,"pageSize":10},
					dataType:"json",
					type:"get",
					async: false,
					success:function(result){
						console.info(result);
						$(".tbody").html("");
						$.each(result.list,function(i,obj){
							if(obj.mem==null){
								sf=0;
							}
							var tr=$("<tr data-toggle='modal' data-target='#myModal'onclick='MTKFuZhi(\""+obj.rdorder+"\","+sf+")'></tr>");
								tr.append("<td>"+(i+1)+"</td>");
								tr.append("<td>"+obj.rdorder+"</td>");
								if(obj.mem==null){
									tr.append("<td>非会员</td>");
									tr.append("<td>---</td>");
									
								}else{
									tr.append("<td>"+obj.mem.mname+"</td>");
									tr.append("<td>"+obj.mem.mphone+"</td>");
								}
								
								
								tr.append("<td>"+obj.total+"</td>");
								tr.append("<td>"+obj.rdpay+"</td>");
								tr.append("<td>"+obj.createtime+"</td>");
							$(".tbody").append(tr);
							
						})
						$(".shou").text(result.pageNum);
						$(".wei").text(result.lastPage);
						
					}
				}) 
		} 
		function MTKFuZhi(client,sf){
			if(sf==0){
				 $.ajax({
						url:"[[@{/member/selectDinDanXQ2}]]",
						data:{"client":client},
						dataType:"json",
						type:"get",
						async: false,
						success:function(result){
							console.info(result);
							$("#tbody2").html("");
							$.each(result,function(i,obj){
								$("#huiyuan8").text("非会员");
								$("#dianpu8").text(obj.sname);
								var tr=$("<tr></tr>");
									tr.append("<td>"+(i+1)+"</td>");
									tr.append("<td>"+obj.cname+"</td>");
									tr.append("<td>"+obj.dage+"</td>");
									tr.append("<td>"+obj.originalcost.toFixed(2)+"</td>");
									if(obj.discount==null){
										tr.append("<td>无折扣</td>");
									}else{
										tr.append("<td>"+obj.discount+"</td>");
									}
									
									tr.append("<td>"+obj.totalprice.toFixed(2)+"</td>");
								$("#tbody2").append(tr);
								
							})
						}
					}) 
			}else{
				 $.ajax({
						url:"[[@{/member/selectDinDanXQ}]]",
						data:{"client":client},
						dataType:"json",
						type:"get",
						async: false,
						success:function(result){
							console.info(result);
							$("#tbody2").html("");
							$.each(result,function(i,obj){
								$("#huiyuan8").text(obj.mname);
								$("#dianpu8").text(obj.sname);
								var tr=$("<tr></tr>");
									tr.append("<td>"+(i+1)+"</td>");
									tr.append("<td>"+obj.cname+"</td>");
									tr.append("<td>"+obj.dage+"</td>");
									tr.append("<td>"+obj.originalcost.toFixed(2)+"</td>");
									if(obj.discount==null){
										tr.append("<td>无折扣</td>");
									}else{
										tr.append("<td>"+obj.discount+"</td>");
									}
									
									tr.append("<td>"+obj.totalprice.toFixed(2)+"</td>");
								$("#tbody2").append(tr);
								
							})
						}
					}) 
			}
			
		}
		function tiao(){
			var sf=1;
			var ye=$("[name=ye]").val();
			if(ye==null){
				
			}else{
				if(ye<=0){
					ye=1;
				}else if(ye>$(".wei").text()){
					ye=$(".wei").text();
				}else{
					
				}
			}
			$.ajax({
				url:"[[@{/member/selectRecord}]]",
				data:{"pageNum":ye,"pageSize":10},
				dataType:"json",
				type:"get",
				success:function(result){
					$(".tbody").html("");
					$.each(result.list,function(i,obj){
						if(obj.mem==null){
							sf=0;
						}
						var tr=$("<tr data-toggle='modal' data-target='#myModal'onclick='MTKFuZhi(\""+obj.rdorder+"\","+sf+")'></tr>");
						tr.append("<td>"+(i+1)+"</td>");
						tr.append("<td>"+obj.rdorder+"</td>");
						if(obj.mem==null){
							tr.append("<td>非会员</td>");
							tr.append("<td>---</td>");
							
						}else{
							tr.append("<td>"+obj.mem.mname+"</td>");
							tr.append("<td>"+obj.mem.mphone+"</td>");
						}
						tr.append("<td>"+obj.total+"</td>");
						tr.append("<td>"+obj.rdpay+"</td>");
						tr.append("<td>"+obj.createtime+"</td>");
						$(".tbody").append(tr);
						
					})
					$(".shou").text(result.pageNum);
					$(".wei").text(result.lastPage);
					
				}
			}) 
			
			
			
			
		}
		function ById(){
			var dindan=$("[name=dindan]").prop("checked");
			var huiyuan=$("[name=huiyuan]").prop("checked");
			var txt=$("[name=txt]").val();
			var shi=$("[name=shi]").val();
			var zhong=$("[name=zhong]").val();
			var sql="";
			
			if(txt==""&&zhong==""&&shi==""){
				cjjl();
			}else{
				if(dindan==true&&txt!=""){
					sql+=" a.rdorder="+txt;
				}
				if(huiyuan==true&&txt!=""){
					if(dindan==true){
						sql+=" and";
					}
					sql+=" b.mname="+"\'"+txt+"\'";
				}
				if(shi!=""&&zhong!=""){
					if(dindan==true||huiyuan==true&&txt!=""){
						sql+=" and";
					}
					sql+=" a.createtime between \'"+shi+"\' and \'"+zhong+"\'";
					
				}
				fuzhi(sql);
			}
			
		}
		function fuzhi(sql){
			$.ajax({
				url:"[[@{/member/selectRecordByIdAndDatetime}]]",
				data:{"a":sql},
				dataType:"json",
				type:"get",
				success:function(result){
					$(".tbody").html("");
					$.each(result,function(i,obj){
						var tr=$("<tr data-toggle='modal' data-target='#myModal'onclick='MTKFuZhi(\""+obj.rdorder+"\")'></tr>");
						tr.append("<td>"+(i+1)+"</td>");
						tr.append("<td>"+obj.rdorder+"</td>");
						tr.append("<td>"+obj.mem.mname+"</td>");
						tr.append("<td>"+obj.mem.mphone+"</td>");
						tr.append("<td>"+obj.total+"</td>");
						tr.append("<td>"+obj.rdpay+"</td>");
						tr.append("<td>"+obj.createtime+"</td>");
						$(".tbody").append(tr);
						
					})
					$(".shou").text("---");
					$(".wei").text("---");
					
				}
			}) 
		}
		</script>
	</body>
</html>
