<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>采购单</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reset.css">
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		a:hover{
			text-decoration: none;
		}
		.examineTd {
		    padding-left: 20px;
		    background: url(http://www.poso2o.com/EntityStore/style/img/edit_16_16.gif) no-repeat 0 1.5px;
		    color:#000; 
		}
		.table > tbody > tr > td{
			vertical-align: middle;
		}
	</style>
	<script src="/js/jQuery-2.2.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/dialog.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<!--
        	作者：offline
        	时间：2019-11-12
        	描述：采购单
        -->
		<div class="col-md-10" style="width: 100%;">
			<div class="row">
				<div id="tab_yggl" class="tal_none2">
					<div class="row" style="line-height:52px;margin-bottom:10px;margin-left: 5px;margin-right:15px;border-bottom: 1px solid #e7e7eb;">
						<div style="padding-left: 0;float: left;">采购单</div>
						<div style="float: right;text-align: right;">
							<form action="" method="post">
								<input type="date" name="startDate" class="form-control" id="inputEmail3" style="width: 20.55%; display: inline-block;">					
								至
								<input type="date" name="endDate" class="form-control" id="inputEmail3" style="width: 20.55%; display: inline-block;">
								<select class="form-control" style="width: 18.66%; display: inline-block;">
								  <option>全部店铺</option>
								</select>
								
								<input type="text" class="form-control" id="inputEmail3" name="suname" placeholder="查找" style="width: 22.50%; display: inline-block;">
								<a href="javascript:;" id="find" class="glyphicon glyphicon-search" style="margin-left: -28px;cursor: pointer;"></a>
								<button type="button" class="btn btn-success" style="margin-left: 10px; margin-top: -4px;" th:onclick="goToPage2('/page/addPuchase')">新建采购单</button>
							</form>
						</div>
					</div>
					<div class="row" style="margin-right: 15px;margin-left:5px;">
						<table id="table" class="table table-bordered table-hover table-striped">
							<thead align="center">
								<tr class="info">
									<td width="4%">序号</td>
									<td width="7%">审核</td>
									<td width="10%">采购单号</td>
									<td width="8%">交货期</td>
									<td width="10%">供应商</td>
									<td width="6%">数量</td>
									<td width="6%">金额</td>
									<td width="8%">备注</td>
									<td width="8%">操作</td>
								</tr>
							</thead>
							<tbody align="center">
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">是否通过审核单?</h4>
		            </div>
		            <div class="modal-body" style="padding:50px">
		            	<div style="text-align: center;">
		            		<p>
		            			<span>采购单号：</span>
		            			<span id="odd"></span>
		            		</p>
		            	</div>
		            </div>
		            <div class="modal-footer" style="text-align: center;">
		                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 16.66%;">取消</button>
		                <button type="button" class="btn btn-success" style="width: 16.66%;" id="ok">确认</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		
		<!-- 模态框（Modal）查询 -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div style="width: 76.66%;" class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">采购单</h4>
		            </div>
		            <div class="modal-body" style="padding:50px;overflow: hidden;">
		            	<div style="float: left;">
		            		<p>供应商：<span name="suname"></span></p>
		            		<p>联系人：<span name="linkman"></span>&nbsp;&nbsp;&nbsp;&nbsp;电话：<span name="telephone"></span></p>
		            	</div>
		            	<div style="float: right;">
		            		<p>订单号：<span name="odd"></span></p>
		            		<p>交货期：<span name="deliverydate"></span></p>
		            	</div>
		            	<table class="table table-bordered table-hover">
						  	<thead>
						  		<tr class="info">
									<td width="4%">序号</td>
									<td width="5%">条码</td>
									<td width="12%">品名</td>
									<td width="10%">规格</td>
									<td width="8%">单价</td>
									<td width="6%">数量</td>
									<td width="6%">金额</td>
								</tr>
						  	</thead>
						  	<tbody id="tbody2" align="center">
								
							</tbody>
						</table>
						<div style="float: left;">
		            		<p>备注：<span name="remark"></span></p>
		            	</div>
		            	<div style="float: right;">
		            		<p>公司名称：<span name="company"></span></p>
		            	</div>
		            </div>
		            <div class="modal-footer" style="text-align: center;">
		                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 16.66%;">取消</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		
		<script type="text/javascript">
			//带参数函数-商品管理 
			function goToPage2(param){ 
				window.sessionStorage.setItem("odd","");
				window.parent.goToPage2(param);
			}
			
			$(function(){
				load();
				
				$("#find").on("click",function(){
					$("#table").bootstrapTable('destroy');
					load();
				});
			});
			
			//查看详情
			function purchaseDetail(odd){
				$('#myModal2').modal('show');
				$.getJSON(`/rest/purchase/getSupplierByOdd/${odd}`,function(data){
					console.info(data)
					if(data[0].remark == "-"){
						data[0].remark = "";
					}
				
					$("[name=suname]").html(data[0].suname);
					$("[name=linkman]").html(data[0].linkman);
					$("[name=telephone]").html(data[0].telephone);
					$("[name=odd]").html(data[0].odd);
					$("[name=deliverydate]").html(data[0].deliverydate);
					
					$("[name=remark]").html(data[0].remark);
					$("[name=company]").html(data[0].company);
					
					$("#tbody2").html("");
					$.each(data,function(i,obj){
						var tr = $("<tr>"+
										"<td>"+obj.articleno+"</td>"+
										"<td>"+obj.shapecode+"</td>"+
										"<td>"+obj.cname+"</td>"+
										"<td>"+
											"<span name='cdid' style='display: none;'>"+obj.cdid+"</span>"+
											"<span style='display: block;'>"+obj.colorname+"</span>"+
											"<span style='display: block;'>"+obj.sizename+"</span>"+
										"</td>"+
										"<td name='sell'>"+obj.sell+"</td>"+
										"<td>"+obj.amount+"</td>"+
										"<td>"+
											"<div style='position: relative;'>"+
												"<span name='sum'>"+obj.sell+"</span>"+
											"</div>"+
										"</td>"+
									"</tr>");
       					$("#tbody2").append(tr);
					});
				});
			}
			
			//审核
			function audit(odd){
				$('#myModal').modal('show');
				$("#odd").html(odd)
				$("#ok").click(function(){
					$.ajax({
						url:"[[@{/rest/purchase/updateAuditState}]]",
						type:"post",
						data:{odd:odd},
						dataType:"json",
						success:function(data){
							window.location.href="/page/purchase";
						}
					});
				})				
			}
			
			//修改
			function modify(odd){
				window.sessionStorage.setItem("odd",odd);
				window.location.href="/page/addPuchase";
			}
			
			//删除
			function remove(puid){
				$.ajax({
					url:"[[@{/rest/purchase/deletePurchaseAndDetails}]]",
					type:"post",
					data:{puid:puid},
					dataType:"json",
					success:function(data){
						if(data.code == "200"){
							alert(data.message);
							window.location.href="/page/purchase";
						} else{
							alert(data.message)
						}
					}
				});
			}
			
			function load(){
				
				$('#table').bootstrapTable({
			        method: "get",
			        striped: true,
			        singleSelect: false,			/* $("#startDate").val()   $("#endDate").val()    $("#endDate").val()==""?null:$("#startDate").val()     $("#startDate").val()==""?null:$("#startDate").val()*/
			        url: `/rest/purchase/getAll/${$("[name='startDate']").val()==""?null:$("[name='startDate']").val()}/${$("[name='endDate']").val()==""?null:$("[name='endDate']").val()}/${$("[name='suname']").val()==""?null:$("[name='suname']").val()}`,
			        dataType: "json",				//josn格式 
			        pagination: true,				//是否启用分页
			        sidePagination : 'client',		//service:服务器分页|client:前端分页
			        sortable: false, 				//是否启用排序 
			        sortOrder: "asc",				//排序方式 
			        pageNumber: 1,					//初始化加载第一页，默认第一页
			        pageSize: 10,					//每页的记录行数  
			        pageList: [2, 4, 6, 8],			//可供选择的每页的行数
			        search: false, 					//显示搜索框
			        showRefresh: false,				//刷新按钮
			        contentType: "application/x-www-form-urlencoded",	//必须要有!
			        queryParams: null,
			        columns: [
			            {
			                title: "序号",
			                field: 'puid',
			                align: 'center',
			                valign: 'middle'
			            },
			            {
			                title: '审核人',
			                field: 'auditstate',
			                align: 'center',
			                valign: 'middle',
			                formatter: function (value, row) {
			                	if(row.auditstate == "0"){
			                		return "<a href='javascript:;' onclick='audit("+row.odd+")' class='examineTd'>待审核</a>"
			                	}
			                	else if(row.auditstate == "1"){
			                		return "通过"
			                	}
			                	else{
			                		return "未通过"
			                	}
			                }
			            },
			            {
			                title: '采购单号',
			                field: 'odd',
			                align: 'center',
			                valign: 'middle'
			            },
			            {
			                title: '交货期',
			                field: 'deliverydate',
			                align: 'center',
			                valign: 'middle'
			            },
			            {
			                title: '供应商',
			                field: 'suname',
			                align: 'center',
			                valign: 'middle'
			            },
			            {
			                title: '数量',
			                field: 'amount',
			                align: 'center',
			                valign: 'middle'
			            },
			            {
			                title: '金额',
			                field: 'moeny',
			                align: 'center',
			                valign: 'middle'
			            },
			            {
			                title: '备注',
			                field: 'remark',
			                align: 'center',
			                valign: 'middle'
			            },
			            {
			                title: '操作',
			                field: 'odd',
			                align: 'center',
			                valign: 'middle',
			                formatter: function (value, row) {
			                	if(row.auditstate == "0"){
			                		var e ='<a href=\"javascript:void(0)\" title="修改" onclick="modify('+value+')">修改</a>'+
			                				'<a href=\"javascript:void(0)\" title="查看" onclick="purchaseDetail('+value+')">查看</a>'+
		                					'<a href=\"javascript:void(0)\" title="删除" onclick="remove('+row.puid+')">删除</a>';
	                    			return e ;
			                	} else if(row.auditstate == "1"){
			                		var e ='<a href=\"javascript:void(0)\" title="删除" onclick="remove('+row.puid+')">删除</a>'+
			                				'<a href=\"javascript:void(0)\" title="查看" onclick="purchaseDetail('+value+')">查看</a>';
		                			return e ;
			                	} /* else {
			                		var e ='<a href=\"javascript:void(0)\" title="查看" onclick="purchaseDetail('+value+')">查看</a>'
		                			return e ;
			                	} */ 	                		
			                }
			            }
			        ],
			        onLoadSuccess: function(){ 	 //加载成功时执行
		        		console.info("加载成功");
		        	},
	        		onLoadError: function(){	 //加载失败时执行
		        		console.info("加载数据失败");
		        	}
			    });
			}
		</script>
	</body>
</html>
