<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>采购单</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		
	</style>
	<script src="/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/dialog.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<!--
        	作者：offline
        	时间：2019-11-12
        	描述：采购单
        -->
		<div class="col-md-10" style="width: 100%;">
			<div class="row">
				<div id="tab_yggl" class="tal_none2">
					<div class="row" style="line-height:52px;margin-bottom:10px;margin-left: 5px;margin-right:15px;border-bottom: 1px solid #e7e7eb;">
						<div style="padding-left: 0;float: left;">采购单</div>
						<div style="float: right;text-align: right;">
							<form action="" method="post">
								<input type="date" class="form-control" id="inputEmail3" style="width: 18.55%; display: inline-block;">					
								至
								<input type="date" class="form-control" id="inputEmail3" style="width: 18.55%; display: inline-block;">
								<select class="form-control" style="width: 20.66%; display: inline-block;">
								  <option>全部店铺</option>
								</select>
								
								<input type="text" class="form-control" id="inputEmail3" placeholder="查找" style="width: 24.50%; display: inline-block;">
								<a class="glyphicon glyphicon-search" style="margin-left: -28px;cursor: pointer;"></a>
								<button type="button" class="btn btn-success" style="margin-left: 10px; margin-top: -4px;" onclick="goToPage2('addPuchase.html')">新建采购单</button>
							</form>
						</div>
					</div>
					<div class="row" style="margin-right: 15px;margin-left:5px;">
						<table class="table table-bordered table-hover table-striped">
							<thead align="center">
								<tr class="info">
									<td width="4%">序号</td>
									<td width="5%">审核</td>
									<td width="10%">采购单号</td>
									<td width="8%">交货期</td>
									<td width="12%">供应商</td>
									<td width="6%">数量</td>
									<td width="6%">金额</td>
									<td width="10%">备注</td>
									<td width="8%">操作</td>
								</tr>
							</thead>
							<tbody align="center">
								<tr>
									<td>1</td>
									<td>阿里</td>
									<td>阿里巴巴</td>
									<td>莱米琪</td>
									<td>-</td>
									<td>2</td>
									<td>-</td>
									<td>-</td>
									<td>
										<a href="#">修改</a>
										<a href="#" style="padding-left: 10px;">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			//带参数函数--商品管理 
			function goToPage2(param){ 
				window.parent.goToPage2(param);
			}
		</script>
	</body>
</html>
