<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>职位权限</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<style type="text/css">
* {
	padding: 0;
	margin: 0;
}

#myModal .modal-body p {
	margin-left: 50px;
	margin-top: 10px;
}

#myModal2 .modal-body p,#myModal .modal-body p {
	margin-left: 90px;
	margin-top: 5px;
}

</style>
<script src="/js/jquery-1.12.4.js" type="text/javascript"
	charset="utf-8"></script>
<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/dialog.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>

<body>
	<!--
        	作者：offline
        	时间：2019-11-12
        	描述：职位权限
        -->
	<div class="col-md-10" style="width: 100%;">
		<div class="row">
			<div id="tab_zwqx" class="tal_none2">
				<div class="row"
					style="line-height: 32px; margin-bottom: 10px; margin-left: 5px; margin-right: 15px; padding-bottom: 8px; padding-top: 8px; border-bottom: 1px solid #e7e7eb;">
					<span>职位权限</span>
					<button type="button" class="btn btn-success" style="float: right;"
						data-toggle="modal" data-target="#myModal" onckick="jzqx()" id="tjzwbtn">添加职位</button>
				</div>
				<div class="row" style="margin-right: 15px; margin-left: 5px;">
					<table class="table table-bordered table-hover table-striped">
						<thead align="center">
							<tr class="warning">
								<td width="32%">序号</td>
								<td width="32%">名称</td>
								<td width="32%">操作</td>
							</tr>
						</thead>
						<tbody align="center" id="tab">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div style="width: 80%;" class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">添加职位</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" style="margin-top: 0px;">
						<label class="col-sm-5 control-label" style="margin-top: 7px;">职位名称：</label>
						<div class="col-sm-7 col-sm-pull-3" style="margin-left: -23px;">
							<input type="text" class="form-control" id="xzzwmc">
						</div>
					</div>
					<div class="form-group" style="margin-top: 30px;">
						<label class="col-sm-12 control-label" style="margin-top: 7px;">职位权限：</label>
						<div class="col-sm-12" name="zwqx">
						</div>
					</div>
				</div>
				<div class="modal-footer" style="margin-top: 430px;">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success" name="xzscope">确定</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div style="width: 80%;" class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">编辑职位</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" style="margin-top: 0px;">
						<label class="col-sm-5 control-label" style="margin-top: 7px;">职位名称：</label>
						<div class="col-sm-7 col-sm-pull-3" style="margin-left: -23px;">
							<input type="text" class="form-control" id="xgzwmc">
						</div>
					</div>
					<div class="form-group" style="margin-top: 30px;">
						<label class="col-sm-12 control-label" style="margin-top: 7px;">职位权限：</label>
						<div class="col-sm-12" name="zwqx">
						</div>
					</div>
				</div>
				<div class="modal-footer" style="margin-top: 430px;">
					<input type="hidden" id="xgpid">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-danger" name="scscope">删除</button>
					<button type="button" class="btn btn-success" name="xgscope">确定</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function() {
		page();
		jzqx();
		getMyscope();
		//删除职位
		$("[name=scscope]").click(function() {
			var zwmc = $("#xgzwmc").val();
			$.ajax({
				url : "[[@{/position/todeleteposition}]]",
				type : "post",
				data : {
					pname : zwmc
				},
				dataType : "json",
				success : function(res) {
					if (res == "0") {
						$("#myModal2").modal('hide');
						location.reload();
					} else if (res == "1") {
						alert("删除失败，请重试！");
						$("#myModal2").modal('hide');
						location.reload();
					}
				}
			})
		});
		//修改职位
		$("[name=xgscope]").click(function() {
			var zwmc = $("#xgzwmc").val();
			var pid=$("#xgpid").val();
			 let arr = [];
			 //新增职位权限表
			 $("#myModal2 .checkbox-inline input:checked").each(function(index){
				 arr[index]=$(this).val();
			 })
			$.ajax({
				url : "[[@{/position/toupdateposition}]]",
				type : "post",
				data : {
					pid:pid,
					pname:zwmc,
					arr:arr
				},
				dataType : "json",
				success : function(res) {
					if (res == "0") {
						$("#myModal2").modal('hide');
						page();
					} else if (res == "1") {
						alert("修改失败，请重试！");
						$("#myModal2").modal('hide');
						location.reload();
					}
				}
			})
		});
		//新增职位
		$("[name=xzscope]").click(function() {
			var zwmc = $("#xzzwmc").val();
			 let arr = [];
			 //新增职位权限表
			 $("#myModal .checkbox-inline input:checked").each(function(index){
				 arr[index]=$(this).val();
			 })
			 $.ajax({
				url : "[[@{/position/toinsertposition}]]",
				type : "post",
				data : {
					pname:zwmc,
					arr:arr
				},
				dataType : "json",
				success : function(res) {
					if (res == "0") {
						$("#myModal").modal('hide');
						page();
					} else if (res == "1") {
						alert("新增失败，请重试！");
						$("#myModal").modal('hide');
						location.reload();
					}
				}
			})
		})
	});
	//获取现在session的内容判断是否有当前页面的功能，如果没有则禁用按钮
	function getMyscope(){ 
	   　$.ajax({
		  url:"[[@{/user/cxcsope}]]",
		  type:"get",
		  dataType:"json",
		  success:function(res){
			  $("#tjzwbtn").attr("disabled", "disabled");
			  $("[name=scscope]").attr("disabled", "disabled");
			  $("[name=xgscope]").attr("disabled", "disabled");
			  $.each(res,function(i,obj){
				  if(obj.moid==18){
					  $("#tjzwbtn").removeAttr("disabled");
				  }
				  if(obj.moid==19){
					  $("[name=xgscope]").removeAttr("disabled");
				  }
				  if(obj.moid==20){
					  $("[name=scscope]").removeAttr("disabled");
				  }
			  })
		  }
	   　});
	}; 
	//加载所有权限
	function jzqx() {
		$.ajax({
			url : "[[@{/model/toselectmodel}]]",
			type : "get",
			dataType : "json",
			success:function(res){
				$("[name=zwqx]").html("");
				$.each(res,function(i,obj){
					if(obj.fatherid==0){
						var $p="<p><span name='yijicaidan' class="+obj.moname+">"+obj.moname+"：</span></p>";
						$("[name=zwqx]").append($p);
						$.each(res,function(j,obj1){
							if(obj.moid==obj1.fatherid){
								if(obj.moid==7 || obj.moid==8){
									var $label = "<label class='checkbox-inline' style='margin-left: 11px'> <input type='checkbox' checked style='margin-left: -18px' name='qx' value='"+obj1.moid+"'>"+obj1.moname+"</label>";
									$("." + obj.moname).append($label);
								}else{
									var $label = "<label class='checkbox-inline'> <input type='checkbox' checked  name='qx' value='"+obj1.moid+"' class='"+obj1.moname+"'>"+obj1.moname+"</label>";
									$("." + obj.moname).append($label);
								}
							}
						});
					}
				})
			}
		})
	};
	//查询职位
	function page() {
		$.ajax({
					url : "[[@{/position/toselect}]]",
					type : "get",
					dataType : "json",
					success : function(res) {
						$("#tab").html("");
						$.each(res,function(i, obj) {
								var $tr = "<tr><td>"
										+ (i + 1)+ "</td><td>"+ obj.pname
										+ "</td><td data-toggle='modal' data-target='#myModal2' onclick='cxcid("
										+ obj.pid+ ")'>编辑</td></tr>";
								$("#tab").append($tr);
						})
					}
				})
	};
	//根据pid查询权限
	function cxcid(pid) {
		$.ajax({
			url : "[[@{/position/topositionselect}]]",
			type : "get",
			data : {
				pid : pid
			},
			dataType : "json",
			success : function(res) {
				if(res!=""){
					$("[name=qx]").each(function(a,b){
						$(this).prop("checked",false);
					});
					$.each(res,function(i,obj){
						$("#xgzwmc").val(obj.pname);
						$("#xgpid").val(obj.pid);
						$("[name=qx]").each(function(a,b){
							if($(b).val()==obj.moid){
								$(this).prop("checked",true);
							}
						})
					});
				}else{
					//根据id获取职位名称
					$.ajax({
						url:"[[@{/position/toselectpositionByid}]]",
						type:"get",
						data:{
							pid:pid
						},
						dataType:"json",
						success:function(res){
							$("#xgzwmc").val(res.pname);
							$("#xgpid").val(res.pid);
							$("[name=qx]").each(function(a,b){
								$(this).prop("checked",false);
							});
						}
					});
				}
				
			}
		});
	};
</script>
</html>