<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品管理</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		.table > tbody > tr > td{
			vertical-align: middle;
		}
		.file {
		    position: relative;
		    background: #D0EEFF;
		    border: 1px solid #99D3F5;
		    border-radius: 4px;
		    padding: 7.5px 12px;
		    overflow: hidden;
		    color: #1E88C7;
		    text-decoration: none;
		    text-indent: 0;
		    margin-left: 10px;
		    left: -10px;
		}
		.file input {
		    position: absolute;
		    font-size: 100px;
		    right: 0;
		    top: 0;
		    opacity: 0;
		    width: 85px;
		    height: 30px;
		}
		.file:hover {
		    background: #AADFFD;
		    border-color: #78C3F3;
		    color: #004974;
		    text-decoration: none;
		}
	</style>
	<script src="/js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/dialog.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<!--
        	作者：offline
        	时间：2019-11-12
        	描述：商品管理
        -->
        <div id="goodstd">
		<div class="col-md-10" style="width: 100%;">
			<div class="row">
				<div id="tab_spgl">					
					<div class="row" style="line-height:32px;line-height:52px;margin-bottom:10px;margin-left: 5px;margin-right:15px;border-bottom: 1px solid #e7e7eb;">
						<div style="padding-left: 0;float: left;">商品管理</div>
						<div style="float: right;width: 80%;text-align: right;">
							<form action="" method="post">
								<select name="goodsonline" class="form-control" style="width: 15.66%; display: inline-block;">
								 <option value="全部店铺">全部商铺</option>
								 <template v-for="stu in goodsonline">
								 	<option :value="stu.sname">{{stu.sname}}</option>
								 </template>
								</select>
								
								<select name="goodstype" class="form-control" style="width: 15.66%; display: inline-block;">
								  <option value="全部类别">全部类别</option>
									<template v-for="stu in goodstype">
								 	<option :value="stu.csname">{{stu.csname}}</option>
								 </template>
								</select>
								
								<input type="text"  class="form-control" id="inputEmail3" placeholder="查找" style="width: 20.50%; display: inline-block;">
								<a @click="select(1)" class="glyphicon glyphicon-search" style="margin-left: -28px;cursor: pointer;"></a>
								<button type="button" class="btn btn-default" style="margin-left: 15px; margin-top: -4px;" @click="daochu">导出商品</button>
								<button type="button" class="btn btn-default" style="margin-left: 5; margin-top: -4px;" data-toggle="modal" data-target="#myModal">批量导入</button>
								<button type="button" class="btn btn-success" style="margin-left: 5px; margin-top: -4px;" onclick="goToPage2('shopUpload.html')">商品上传</button>
							</form>
						</div>
					</div>
					<div class="row" style="margin-right: 15px;margin-left:5px;">
						<table class="table table-bordered table-hover table-striped">
							<thead align="center">
								<tr class="info">
									<td width="8%">序号</td>
									<td width="12%">类别</td>
									<td width="15%">品名</td>
									<td width="10%">货号/条码</td>
									<td width="8%">规格</td>
									<td width="8%">库存</td>
									<td width="8%">销售价</td>
									<td width="8%">成本价</td>
									<td width="10%">网店同步</td>
									<td>操作</td>
								</tr>
							</thead>
							<tbody align="center">
								<tr v-for="stu,index in goodslist.list">
									<td>{{stu.cid}}</td>
									<td>{{stu.csname}}</td>
									<td><img :src="'/images/'+stu.picture" width="40" height="40"><span style="margin-left: 5px;">{{stu.cname}}</span></td>
									<td>
										<span style="display: block;">{{stu.articleno}}</span>
										<span style="display: block;">{{stu.shapecode}}</span>
									</td>
									<td>
										<span style="display: block;">{{stu.colorname}}</span>
										<span style="display: block;">{{stu.sizename}}</span>
									</td>
									<td>{{stu.inventory}}</td>
									<td>{{stu.sell}}</td>
									<td>{{stu.cost}}</td>
									<td>{{stu.message}}</td>
									<td>
										<a :href="'/rest/commodity/updategoods?id='+stu.cid">修改</a>
										<a href="Javascript:;" @click="del(stu.cid,index)" style="padding-left: 10px;">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
						<nav style="text-align: center;">
							  <ul class="pagination">
							    <li>
							      <a href="javascript:;" aria-label="Previous" @click="prePage">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li>
							    	<a href="javascript:;" id="pageNum">1</a>
							    	<span>/</span>
							    	<a href="javascript:;" id="pages">5</a>
							    	</li>
							    <li>
							      <a href="javascript:;" aria-label="Next" @click="nextPage">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">批量导入</h4>
		            </div>
		            <!-- th:action="@{/rest/file/excelUpload}" name="refer"  -->
		             <form method="post" enctype="multipart/form-data">
			            <div class="modal-body" style="padding:50px">
			            	
							  <div class="form-group">
							    <label for="inputEmail3" class="col-sm-3 control-label" style="margin-top: 7px;">选择店铺:</label>
							    <div class="col-sm-9">
							       <select style="width: 50%;display: inline-block;" name="check" class="form-control">
							     	<template v-for="stu in goodsonline">
									 	<option :value="stu.sname">{{stu.sname}}</option>
									 </template>
							      </select>
							    </div>
							  </div>
							
			            </div>
			            <div class="modal-footer" style="text-align: center;">	
			            	<a href="javascript:;" class="file" onchange="xzwj()">选择文件
							    <input style="display: inline-block;" name="file" id="fileField" type="file">
							</a>
			            	<span class="showFileName"></span>
							<button @click="refer"  class="btn btn-default" data-dismiss="modal" style="width: 16.66%;">Excel导入</button>
		                	<button type="button" @click="xzfb" class="btn btn-success" style="width: 16.66%;">下载范本</button>
			            </div>
		            </form>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		</div>
		
		<script type="text/javascript">
			function xzwj(){
				var fileName = document.getElementById('fileField').files[0].name;
				$(".showFileName").html(fileName);
			}
		</script>
		<script type="text/javascript">
			//带参数函数--商品管理 
			function goToPage2(param){ 
				window.parent.$(".shop_type").removeClass("current2")
				window.parent.$("#spsc").addClass("current2")
				window.parent.goToPage2(param);
			}
			var goodsvue = new Vue({
				el:'#goodstd',
				data(){
					return{
						goodslist:[],
						goodstype:[],
						goodsonline:[]
					}
				},
				methods:{
					//上一页
					prePage:function(){
						console.info(this.goodslist)
						if(this.goodslist.prePage == 1){
							this.select(this.goodslist.prePage);
						}	
					},
					//下一页
					nextPage:function(){
						if(this.goodslist.nextPage != this.goodslist.pages){
							return;
						}else{
							this.select(this.goodslist.nextPage);
						}
					},
					select:function(currentPage){				//查询所有商品
						var that=this;
						let sname=$("[name=goodsonline]").val();
						let csname=$("[name=goodstype]").val();
						let cname=$("#inputEmail3").val();

						$.ajax({
							url:"[[@{/rest/commodity/getCommodityAll}]]",
							type:"get",
							data:{currentPage:currentPage,pageSize:10,sname:sname,csname:csname,cname:cname},
							dataType:"json",
							success:function(res){
								$("#pageNum").html(res.pageNum)
	 							$("#pages").html(res.pages);
								that.goodslist=res;
							}
						})
					},del:function(id,index){		//根据id查询商品
						 $.ajax({
							url:"[[@{/rest/commodity/deleteCommodity}]]",
							data:{id:id},
							success:function(){
							 goodsvue.goodslist.list.splice(index,1);
							}
						});
					} ,
					daochu:function(){				//导出商品
						let sname=$("[name=goodsonline]").val();
						let csname=$("[name=goodstype]").val();
						let cname=$("#inputEmail3").val();
						location.href="[[@{/rest/file/exportExcel}]]?sname="+sname+"&csname="+csname+"&cname="+cname;
					},
					xzfb:function(){				//下载范本
						location.href="[[@{/rest/file/download}]]";
					},
					refer:function(){				//提交
						//$("[name=refer]").submit();
						var that = this;				
						var formData = new FormData($("form")[1]);
						console.info($("form"));
						console.info(formData)
						$.ajax({
							url:"[[@{/rest/file/excelUpload}]]",
							data:formData,
							type:"post",
							processData:false,
							contentType:false,
							success:function(result){
								console.info(result);
								that.select(1);
							}
						});
					}
				},created:function(){
					var that=this;
					this.select(1);
					//查询所有类别
					$.ajax({
						url:"[[@{/rest/commodity/getCommoditysortAll}]]",
						success:function(res){
							that.goodstype=res;
						}
					});
					
					//查询所有店铺
					$.ajax({
						url:"[[@{/rest/commodity/getShoptAll}]]",
						success:function(res){
							that.goodsonline=res;
						}
					})
				}
			})
		</script>		
	</body>
</html>
