<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Commodity" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="csid" property="csid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="articleno" property="articleno" jdbcType="VARCHAR" />
    <result column="sell" property="sell" jdbcType="REAL" />
    <result column="cost" property="cost" jdbcType="REAL" />
    <result column="message" property="message" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cid, csid, cname, brand, articleno, sell, cost, message
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.CommodityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from commodity
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commodity
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.CommodityExample" >
    delete from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Commodity" keyProperty="cid" useGeneratedKeys="true">
    insert into commodity (csid, cname, 
      brand, articleno, sell, 
      cost, message, picture)
    values (#{csid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{articleno,jdbcType=VARCHAR}, #{sell,jdbcType=REAL}, 
      #{cost,jdbcType=REAL}, #{message,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Commodity" keyProperty="cid" useGeneratedKeys="true">
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="csid != null" >
        csid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="articleno != null" >
        articleno,
      </if>
      <if test="sell != null" >
        sell,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="csid != null" >
        #{csid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="articleno != null" >
        #{articleno,jdbcType=VARCHAR},
      </if>
      <if test="sell != null" >
        #{sell,jdbcType=REAL},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=REAL},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.CommodityExample" resultType="java.lang.Integer" >
    select count(*) from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update commodity
    <set >
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.csid != null" >
        csid = #{record.csid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null" >
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.articleno != null" >
        articleno = #{record.articleno,jdbcType=VARCHAR},
      </if>
      <if test="record.sell != null" >
        sell = #{record.sell,jdbcType=REAL},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=REAL},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update commodity
    set cid = #{record.cid,jdbcType=INTEGER},
      csid = #{record.csid,jdbcType=INTEGER},
      cname = #{record.cname,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      articleno = #{record.articleno,jdbcType=VARCHAR},
      sell = #{record.sell,jdbcType=REAL},
      cost = #{record.cost,jdbcType=REAL},
      message = #{record.message,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Commodity" >
    update commodity
    <set >
      <if test="csid != null" >
        csid = #{csid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="articleno != null" >
        articleno = #{articleno,jdbcType=VARCHAR},
      </if>
      <if test="sell != null" >
        sell = #{sell,jdbcType=REAL},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=REAL},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Commodity" >
    update commodity
    set csid = #{csid,jdbcType=INTEGER},
      cname = #{cname,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      articleno = #{articleno,jdbcType=VARCHAR},
      sell = #{sell,jdbcType=REAL},
      cost = #{cost,jdbcType=REAL},
      message = #{message,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  
  
  <!-- ===================================================== -->
  <select id="getCaseCommodity" resultType="com.accp.vo.commodityVO" >
   SELECT * FROM commodity c 
	JOIN commoditydetails d ON c.`cid` = d.`cid`
	JOIN size s ON d.`sizeid` = s.`sizeid`
	JOIN color r ON d.`colorid` = r.`colorid`
  </select>
</mapper>