<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >





<mapper namespace="com.accp.mapper.MemberMapper" >
	<!-- 会员部分 -->
	<!-- 查会员等级 -->
	<select id="selectMemberClass" resultType="com.accp.domain.Memberclass">
		SELECT * FROM memberclass
	</select>
	<select id="selectMemberLevel" resultType="com.accp.domain.Memberclass" parameterType="Int">
		SELECT * FROM memberclass
		WHERE mcid=#{mcid}
	</select>
	<!-- 模糊查询 -->
	<select id="selectAllMember" resultType="com.accp.domain.Member" parameterType="String">
		select * from member
		where mname like '%${mname}%'
		
	</select>
	<!-- 添加等级 -->
	<insert id="insertClass" parameterType="com.accp.domain.Memberclass">
		INSERT INTO memberclass(`mcname`,`require`,`discount`,`mstate`)
		VALUES(#{mcname},#{require},#{discount},0)
	</insert>
	<!-- 修改等级 -->
	<update id="updateClass" parameterType="com.accp.domain.Memberclass">
		UPDATE memberclass
		SET mcname=#{mcname},discount=#{discount}
		WHERE mcid=#{mcid}
	</update>
	<!-- 软删除等级 -->
	<update id="deleteClass1" parameterType="Integer">
		UPDATE memberclass
		SET mstate=1
		WHERE mcid=#{mcid}
	</update>
	<!-- 恢复删除的等级 -->
	<update id="updateHuiFu" parameterType="Integer">
		UPDATE memberclass
		SET mstate=0
		WHERE mcid=#{mcid}
	</update>
	<!-- 彻底移除等级 -->
	<delete id="deleteClass2" parameterType="Integer">
		delete from memberclass where mcid=#{mcid}
	</delete>
	<!-- 新增会员 -->
	<insert id="insertMember" parameterType="com.accp.domain.Member">
		INSERT INTO member(`mname`,`mpassword`,`mphone`,`mmoney`,`mbalance`,`mintegral`,`wechatid`,`provincename`,`cityname`,`regionname`,`street`,`createtime`,`mcid`)
		VALUES(#{mname},#{mpassword},#{mphone},#{mmoney},#{mbalance},#{mintegral},#{wechatid},#{provincename},#{cityname},#{regionname},#{street},#{createtime},#{mcid})
	</insert>
	<!-- 查询指定会员的信息 -->
	<select id="selectMember" parameterType="int" resultType="com.accp.domain.Member">
		select * from member where mid=#{mid}
	</select>
	<!-- 编辑会员 -->
	<update id="updateMember" parameterType="com.accp.domain.Member">
		UPDATE member
		SET mname=#{mname},mpassword=#{mpassword},mphone=#{mphone},provincename=#{provincename},cityname=#{cityname},regionname=#{regionname},street=#{street},mcid=#{mcid}
		WHERE `mid`=#{mid}
	</update>
	<!-- 按编号查询会员 -->
	<select id="selectMemberById" resultType="com.accp.domain.Member" parameterType="int">		
		SELECT * FROM member
		WHERE `mid`=#{mid}
	</select>
	<!-- 查询积分设置是否关闭 -->
	<select id="selectDeduction" resultType="int">
		SELECT wtd FROM deduction
		WHERE ddid=1
	</select>
	<!-- 设置积分是否可用 -->
	<update id="updateDeduction" parameterType="int">
		UPDATE deduction
		SET wtd=#{wtd}
		WHERE ddid=1
	</update>
	<!-- 设置多少积分可抵一元 -->
	<update id="updateDeductionJF" parameterType="int">
		UPDATE deduction
		SET jf=#{jf}
		WHERE ddid=1
	</update>
	<!-- 查询现有的积分 -->
	<select id="selectDeductionJf" resultType="int">
		SELECT jf FROM deduction
		WHERE ddid=1
	</select>
	<!-- 将充值金额加到会员表余额内 -->
	<update id="updateMoney" parameterType="com.accp.domain.Recharge">
		UPDATE Member
		SET mbalance=mbalance+#{mbalance}
		WHERE `mid`=#{mid}
	</update>
	<!-- 将充值记录加载到充值表 -->
	<insert id="insertRecharge" parameterType="com.accp.domain.Recharge">
	INSERT INTO recharge(`mid`,remoney,reway,rejf,rebalance,remark,createtime)
	VALUES(#{mid},#{remoney},#{reway},#{rejf},#{rebalance},#{remark},#{createtime})
	</insert>
	<!-- 交易记录查询 -->
	<select id="selectRecord" resultType="com.accp.domain.Record">
		SELECT * FROM `record`
	</select>
	<!-- 条件查询交易记录 -->
	<select id="selectRecordByIdAndDatetime" resultType="com.accp.domain.Record" parameterType="String">
		SELECT a.rdid,a.rdorder,a.client,a.total,a.discount,a.actualincome,a.notincome,a.rdpay,a.sid,a.cashier,a.shopassistant,a.state,a.createtime FROM record  AS a INNER JOIN member AS b ON a.client =b.mid where ${a}
	</select>
	<!-- 添加冲抵记录 -->
	<insert id="insertRechargededuction" parameterType="com.accp.domain.Rechargededuction">
		INSERT INTO rechargededuction(`time`,`mid`,`point`,remark,colunm1,colunm2)
		VALUE(#{time},#{mid},#{point},#{remark},#{colunm1},#{colunm2})
	</insert>	
	<!-- 冲抵成功后清空积分 -->
	<update id="updateMemberJf" parameterType="int">
		UPDATE member 
		SET mintegral=0
		WHERE `mid`=#{mid}
	</update>
	<!-- 查看所有冲抵记录 -->
	<select id="selectRechargededuction" resultType="com.accp.domain.Rechargededuction">
		select * from rechargededuction
	</select>
	<!-- 按时间查询冲抵记录 -->
	<select id="selectRechargedeductionBytime" resultType="com.accp.domain.Rechargededuction" parameterType="String">
		select * from rechargededuction where ${a}
	</select>
	<!-- 查询积分情况 -->
	<select id="selectJf" resultType="Integer">
		SELECT jf FROM deduction WHERE wtd=1
	</select>
	<!-- 查询是否拥有某个会员 -->
	<select id="selectByNameCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM member
		WHERE mname=#{mname}
	</select>
	
	
	
	
	
  <resultMap id="BaseResultMap" type="com.accp.domain.Member" >
    <id column="mid" property="mid" jdbcType="INTEGER" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
    <result column="mpassword" property="mpassword" jdbcType="VARCHAR" />
    <result column="mphone" property="mphone" jdbcType="VARCHAR" />
    <result column="mmoney" property="mmoney" jdbcType="REAL" />
    <result column="mbalance" property="mbalance" jdbcType="REAL" />
    <result column="mintegral" property="mintegral" jdbcType="REAL" />
    <result column="wechatid" property="wechatid" jdbcType="VARCHAR" />
    <result column="provincename" property="provincename" jdbcType="VARCHAR" />
    <result column="cityname" property="cityname" jdbcType="VARCHAR" />
    <result column="regionname" property="regionname" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="mcid" property="mcid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mid, mname, mpassword, mphone, mmoney, mbalance, mintegral, wechatid, provincename, 
    cityname, regionname, street, createtime, mcid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.MemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.MemberExample" >
    delete from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Member" >
    insert into member (mid, mname, mpassword, 
      mphone, mmoney, mbalance, 
      mintegral, wechatid, provincename, 
      cityname, regionname, street, 
      createtime, mcid)
    values (#{mid,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{mpassword,jdbcType=VARCHAR}, 
      #{mphone,jdbcType=VARCHAR}, #{mmoney,jdbcType=REAL}, #{mbalance,jdbcType=REAL}, 
      #{mintegral,jdbcType=REAL}, #{wechatid,jdbcType=VARCHAR}, #{provincename,jdbcType=VARCHAR}, 
      #{cityname,jdbcType=VARCHAR}, #{regionname,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{mcid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="mname != null" >
        mname,
      </if>
      <if test="mpassword != null" >
        mpassword,
      </if>
      <if test="mphone != null" >
        mphone,
      </if>
      <if test="mmoney != null" >
        mmoney,
      </if>
      <if test="mbalance != null" >
        mbalance,
      </if>
      <if test="mintegral != null" >
        mintegral,
      </if>
      <if test="wechatid != null" >
        wechatid,
      </if>
      <if test="provincename != null" >
        provincename,
      </if>
      <if test="cityname != null" >
        cityname,
      </if>
      <if test="regionname != null" >
        regionname,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="mcid != null" >
        mcid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="mname != null" >
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mpassword != null" >
        #{mpassword,jdbcType=VARCHAR},
      </if>
      <if test="mphone != null" >
        #{mphone,jdbcType=VARCHAR},
      </if>
      <if test="mmoney != null" >
        #{mmoney,jdbcType=REAL},
      </if>
      <if test="mbalance != null" >
        #{mbalance,jdbcType=REAL},
      </if>
      <if test="mintegral != null" >
        #{mintegral,jdbcType=REAL},
      </if>
      <if test="wechatid != null" >
        #{wechatid,jdbcType=VARCHAR},
      </if>
      <if test="provincename != null" >
        #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="regionname != null" >
        #{regionname,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mcid != null" >
        #{mcid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.MemberExample" resultType="java.lang.Integer" >
    select count(*) from member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update member
    <set >
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=INTEGER},
      </if>
      <if test="record.mname != null" >
        mname = #{record.mname,jdbcType=VARCHAR},
      </if>
      <if test="record.mpassword != null" >
        mpassword = #{record.mpassword,jdbcType=VARCHAR},
      </if>
      <if test="record.mphone != null" >
        mphone = #{record.mphone,jdbcType=VARCHAR},
      </if>
      <if test="record.mmoney != null" >
        mmoney = #{record.mmoney,jdbcType=REAL},
      </if>
      <if test="record.mbalance != null" >
        mbalance = #{record.mbalance,jdbcType=REAL},
      </if>
      <if test="record.mintegral != null" >
        mintegral = #{record.mintegral,jdbcType=REAL},
      </if>
      <if test="record.wechatid != null" >
        wechatid = #{record.wechatid,jdbcType=VARCHAR},
      </if>
      <if test="record.provincename != null" >
        provincename = #{record.provincename,jdbcType=VARCHAR},
      </if>
      <if test="record.cityname != null" >
        cityname = #{record.cityname,jdbcType=VARCHAR},
      </if>
      <if test="record.regionname != null" >
        regionname = #{record.regionname,jdbcType=VARCHAR},
      </if>
      <if test="record.street != null" >
        street = #{record.street,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mcid != null" >
        mcid = #{record.mcid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update member
    set mid = #{record.mid,jdbcType=INTEGER},
      mname = #{record.mname,jdbcType=VARCHAR},
      mpassword = #{record.mpassword,jdbcType=VARCHAR},
      mphone = #{record.mphone,jdbcType=VARCHAR},
      mmoney = #{record.mmoney,jdbcType=REAL},
      mbalance = #{record.mbalance,jdbcType=REAL},
      mintegral = #{record.mintegral,jdbcType=REAL},
      wechatid = #{record.wechatid,jdbcType=VARCHAR},
      provincename = #{record.provincename,jdbcType=VARCHAR},
      cityname = #{record.cityname,jdbcType=VARCHAR},
      regionname = #{record.regionname,jdbcType=VARCHAR},
      street = #{record.street,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      mcid = #{record.mcid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Member" >
    update member
    <set >
      <if test="mname != null" >
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mpassword != null" >
        mpassword = #{mpassword,jdbcType=VARCHAR},
      </if>
      <if test="mphone != null" >
        mphone = #{mphone,jdbcType=VARCHAR},
      </if>
      <if test="mmoney != null" >
        mmoney = #{mmoney,jdbcType=REAL},
      </if>
      <if test="mbalance != null" >
        mbalance = #{mbalance,jdbcType=REAL},
      </if>
      <if test="mintegral != null" >
        mintegral = #{mintegral,jdbcType=REAL},
      </if>
      <if test="wechatid != null" >
        wechatid = #{wechatid,jdbcType=VARCHAR},
      </if>
      <if test="provincename != null" >
        provincename = #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        cityname = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="regionname != null" >
        regionname = #{regionname,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mcid != null" >
        mcid = #{mcid,jdbcType=INTEGER},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Member" >
    update member
    set mname = #{mname,jdbcType=VARCHAR},
      mpassword = #{mpassword,jdbcType=VARCHAR},
      mphone = #{mphone,jdbcType=VARCHAR},
      mmoney = #{mmoney,jdbcType=REAL},
      mbalance = #{mbalance,jdbcType=REAL},
      mintegral = #{mintegral,jdbcType=REAL},
      wechatid = #{wechatid,jdbcType=VARCHAR},
      provincename = #{provincename,jdbcType=VARCHAR},
      cityname = #{cityname,jdbcType=VARCHAR},
      regionname = #{regionname,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      mcid = #{mcid,jdbcType=INTEGER}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>